



    


        <!DOCTYPE html>
<head>

<style type="text/css">

#Rachit {

font-size: 50px;
position: relative; 
top: -140px;
right: -400px;

}
.create-ac-heading {
position: relative;
top: 100px;
}



</style> 
<title>Borrower</title>
<style type="text/css" media="all">@import url("https://www.faircent.com/modules/system/system.base.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.menus.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.messages.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.theme.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/modules/comment/comment.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/date/date_api/date.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/date/date_popup/themes/datepicker.1.7.css?npdeuc");
@import url("https://www.faircent.com/modules/field/theme/field.css?npdeuc");
@import url("https://www.faircent.com/modules/node/node.css?npdeuc");
@import url("https://www.faircent.com/modules/user/user.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/views/css/views.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/sites/all/modules/contribute/ckeditor/ckeditor.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/ctools/css/ctools.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/ctools/css/modal.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/modal_forms/css/modal_forms_popup.css?npdeuc");
@import url("https://www.faircent.com/misc/sbox/shadowbox.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/css/font-awesome.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/layout.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/style.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/media.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/bootstrap.min.css?npdeuc");</style>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.js?v=1.4.4"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.once.js?v=1.2"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/drupal.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.cookie.js?v=1.0"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.form.js?v=2.52"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/ajax.js?v=7.19"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/fb/fb.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/progress.js?v=7.19"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/ctools/js/modal.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/modal_forms/js/modal_forms_popup.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/mobile_verification_code.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/mobile.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/xml_http_req_object.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/prevent_copypaste.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/helptext.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/registration.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/view_profile.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/ctools/js/ajax-responder.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/sbox/shadowbox.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/cbpFWTabs.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/custom.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/bootstrap.min.js?npdeuc"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"media_responsive_theme","theme_token":"P4_Nf6NCg60ZvdhXD3n-6ga6cu6RX7T4ObF6ynUmhS8","js":{"sites\/all\/modules\/custom\/search\/bootstrap-modal.js":1,"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"misc\/jquery.cookie.js":1,"misc\/jquery.form.js":1,"misc\/ajax.js":1,"sites\/all\/modules\/contribute\/fb\/fb.js":1,"misc\/progress.js":1,"sites\/all\/modules\/contribute\/ctools\/js\/modal.js":1,"sites\/all\/modules\/contribute\/modal_forms\/js\/modal_forms_popup.js":1,"misc\/mobile_verification_code.js":1,"misc\/mobile.js":1,"misc\/xml_http_req_object.js":1,"misc\/prevent_copypaste.js":1,"misc\/helptext.js":1,"misc\/registration.js":1,"misc\/view_profile.js":1,"sites\/all\/modules\/contribute\/ctools\/js\/ajax-responder.js":1,"misc\/sbox\/shadowbox.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/cbpFWTabs.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/custom.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/bootstrap.min.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/contribute\/date\/date_api\/date.css":1,"sites\/all\/modules\/contribute\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/contribute\/views\/css\/views.css":1,"sites\/all\/modules\/contribute\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/contribute\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/contribute\/ctools\/css\/modal.css":1,"sites\/all\/modules\/contribute\/modal_forms\/css\/modal_forms_popup.css":1,"misc\/sbox\/shadowbox.css":1,"sites\/all\/themes\/media-responsive-theme\/css\/font-awesome.css":1,"sites\/all\/themes\/media-responsive-theme\/layout.css":1,"sites\/all\/themes\/media-responsive-theme\/style.css":1,"sites\/all\/themes\/media-responsive-theme\/media.css":1,"sites\/all\/themes\/media-responsive-theme\/bootstrap.min.css":1}},"CToolsModal":{"loadingText":"Loading...","closeText":"Close Window","closeImage":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/ctools\/images\/icon-close-window.png\u0022 alt=\u0022Close window\u0022 title=\u0022Close window\u0022 \/\u003E","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/ctools\/images\/throbber.gif\u0022 alt=\u0022Loading\u0022 title=\u0022Loading...\u0022 \/\u003E"},"modal-popup-small":{"modalSize":{"type":"fixed","width":300,"height":300},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"},"modal-popup-medium":{"modalSize":{"type":"fixed","width":550,"height":450},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"},"modal-popup-large":{"modalSize":{"type":"scale","width":0.8,"height":0.8},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"}});
//--><!]]>
</script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="html not-front not-logged-in no-sidebars page-lender-registration page-lender-registration-step1">
    

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/misc/responsive-menu.js"></script>
<!--[if IE]>
        <script src="/misc/allhtml5.js"></script><![endif]-->
<script type="text/javascript">
    function cancel_form(uid,utype,regstep){
        var hostname =location.protocol+"//"+location.hostname; 
        nregstep=parseInt(regstep)+1;
    var red_link="";
    if(utype=='borrower'){
        red_link='/borrower/registration/step'+nregstep;    
    }
    
    if(utype=='lender'){
        red_link='/lender_registration/step'+nregstep;  
    }
    window.location.href=hostname+red_link;
    
    }
    
    function message_reset(){
        var name=document.getElementById('edit-name');
        if(name.value!=""){
        alert("Further instructions will be sent to your e-mail address");
        }
        return true;
    }
    
    function show_cart(){
    
    var carth = document.getElementById('cart_holder');
    if(carth.style.display=="none"){
      
       carth.style.display="block";
    }
    else{
        carth.style.display="none";
    }
    
    }
    
    function checkout(lender){
         var hostname =location.protocol+"//"+location.hostname;    
         window.location.href= hostname+"/display-cart/"+lender;
        
    }
    
    
    function show_settings(){
    
        var carth = document.getElementById('sign_up_div');
        if(carth.style.display=="none"){
          
           carth.style.display="block";
        }
        else{
            carth.style.display="none";
        }
    
        }
        
    </script>
<script>
                $(function() {
                    $( '#dl-menu' ).dlmenu();
                });
            </script>
<script type="text/javascript">
    
    Shadowbox.init({onClose:function(){location.reload();}});
    </script>

<script type="text/javascript">
    
    Shadowbox.init({onClose:function(){location.reload();}});
    function mamage_dropdown(){ 
        var ddm=document.getElementById("ddmenu");
        ddm.style.display="block";
    }
    function close_dropdown(){  
        var ddm=document.getElementById("ddmenu");
        ddm.style.display="none";
    }
    
    
    </script>

<div id="header_wrapper">
    <div id="inner_header_wrapper">

        <header id="header" role="banner">
            <div class="container container-responsive">
                <div class="row push-top logo-responsive">
                    <div class="col-xs-12 col-sm-12 col-md-12 nav-bg">
                        <div class="col-xs-2 col-sm-2 col-md-2">
                                                        <div id="logo">
                                
                            </div>
                                                    </div>
                        <div class="clearfix visible-xs"></div>
                        

                        <!--responsive nav  -->
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>
                            <ul class="dl-menu">

                                <li><a href="#">How it Works</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/how-faircent-works">How Faircent Works</a></li>
                                        <li><a href="/what-does-faircent-not-do">What Faircent does
                                                (and does not) do:</a></li>
                                        <li><a href="/the-bidding-process">The Bidding Process</a></li>
                                        <li><a href="/transfer-of-funds-and-emi-payments">Transfer of
                                                Funds and EMI Payments</a></li>
                                        <li><a href="/sites/default/files/lender_borrower.pdf"
                                            target="_blank">Lender - Borrower Sample Agreement</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Lenders</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/why-lend">Why Lend</a></li>
                                        <li><a href="/who-can-become-a-lender">Who can become a
                                                Lender? </a></li>
                                        <li><a href="/who-am-i-lending-to">Who am I Lending to? </a></li>
                                        <li><a href="/returns-and-fees">Returns and Fees </a></li>
                                        <li><a href="/code-of-conduct-for-lenders">Code of Conduct for
                                                Lenders</a></li>
                                        <li><a href="/lender-faq"> Lender FAQ</a></li>
                                    </ul>
                                </li>

                                <li><a href="#">Borrowers</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/why-borrow-on-faircent">Why Borrow on Faircent</a>
                                        </li>
                                        <li><a href="/who-qualifies-for-a-loan">Borrower Criteria </a>
                                        </li>
                                        <li><a href="/from-whom-am-i-borrowing">From whom am I
                                                borrowing? </a></li>
                                        <li><a href="/purpose-of-loan">Purpose of Loan</a></li>
                                        <li><a href="/interest-rates-and-fees">Interest Rates and Fees</a>
                                        </li>
                                        <li><a href="/faircent-faq">Borrower FAQ</a></li>
                                        <li><a href="/the-faircent-experience">The Faircent Experience</a>
                                        </li>
                                    </ul>
                                </li>

                                <li><a href="#">Knowledge Centre</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/i-learn">Trending</a></li>
                                        <li><a href="/press">Press</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Statistics</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/view/stats">Statistics</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">About Us</a>
                                    <ul class="dl-submenu">
                                        <li><a href="/about-us">About Us</a></li>
                                        <li><a href="/the-team">The Team</a></li>
                                        <li><a href="/recognitions">Rewards and Recognition</a></li>
                                        <li><a href="/affiliates-partners">Affiliates & Partners</a></li>
                                        <li><a href="/from-ceo-desk">From the CEO’s Desk</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <!-- responsive nav end -->
                        <div class="clearfix visible-xs"></div>
                                            </div>

                    <div class="clear"></div>
                </div>
            </div>
            <!--heade-bg  -->
        </header>

        <div class="menu_wrapper">
            <nav id="main-menu" role="navigation">
                <a class="nav-toggle" href="#">Navigation</a>
                <div class="menu-navigation-container">
                    <ul class="menu"><li class="first leaf"><a href="/">Home</a></li>
<li class="last leaf"><a href="/node/3" title="conditions">conditions</a></li>
</ul>               </div>
                <div class="clear"></div>
            </nav>
            <!-- end main-menu -->
        </div>
    </div>
</div>


    <div class="container">

                            <div class="content-sidebar-wrap">
                                <div id="content">
                                        <!--  <div id="breadcrumbs">-->
                                        <!--  </div>-->
                    
                    
                    <section id="post-content" role="main"
                        onmouseover="close_dropdown();">
                                                                        
                        
                                                                                                                        <div class="region region-content">
  <div id="block-system-main" class="block block-system">

      
  <div class="content">
    <form autocomplete="off" action="/lender_registration/step1" method="post" id="lender-registration-form" accept-charset="UTF-8"><div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".form-select").each(function(){
            $(this).wrap("<span class='select-wrapper'></span>");
            $(this).after("<span class='holder'></span>");
        });
        $(".form-select").change(function(){
            var selectedOption = $(this).find(":selected").text();
            $(this).next(".holder").text(selectedOption);
        }).trigger('change');
    })
</script>
<a id="mobile_verification_form" href="javascript:void(0)"></a>
<!-- Modal -->
<style>
.modal-dialog {
    margin: 30px auto;
    width: 600px;
}

.browser-icon {
    text-align: center;
}

.browser-icon .box {
    display: inline-block;
    margin: 0 10px;
}

.browser-icon .box h5 {
    margin: 10px 0;
}
</style>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
    tabindex="-1" id="mobile-form" class="modal fade"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" style="text-align: center;">
                    <h2>Enter the 5-digit verification code sent to your mobile number</h2>
                    <p style="font-size: 11px">
                        Didn't receive the verification code? <a href="javascript:void(0)"
                            onclick="sendMobilecode();">Click here</a> to resend.
                    </p>
                    <form type="post" style="margin-top: 30px">
                        <input type="text" name="user" id="resend"
                            style="margin-top: 40px">
                    </form>
                    <div id="mob_error"
                        style="font-size: 11px; margin-top: 10px; opacity: 0"></div>
                </div>
            </div>
            <div class="modal-footer ie-footer" style="margin-top: 0">
                <a href="javascript:void(0)" class="btn btn-primary"
                    onclick="verifyMobilecode();" class="mobile-submit">Submit</a>
            </div>
        </div>
    </div>
</div>
<script>
(function($){
    $('#mobile_verification_form').on('click', function() {
     
        $('#mobile-form').modal('toggle');
    });
    $('#cancelcase').click(function() {
        $('#mobile-form').modal('hide');
        return false;
    });
})(jQuery);
</script>
<h1 id="Rachit_title> Register as Borrower </h1> 
<h2 class="create-ac-heading">Create your Account</h2>
<p id="Rachit"> Register as Borrower </p> 
<div class="new-form-bg">

<!--<div class="form-deshboard">
 <div class="enter-amout-panel leder-panel">
 <div class="enter-amount">Enter The Amount</div>
 <div class="form-item form-type-select form-item-inv-amount-expected">
 <select onmouseover="test(&quot;loan_amount_expected&quot;)" onmouseout="test1(&quot;loan_amount_expected&quot;)" id="amount_expect" name="inv_amount_expected" class="form-select required"><option value="" selected="selected">- Select -</option><option value="30000">30,000</option><option value="40000">40,000</option><option value="50000">50,000</option><option value="60000">60,000</option><option value="70000">70,000</option><option value="80000">80,000</option><option value="90000">90,000</option><option value="100000">1,00,000</option><option value="110000">1,10,000</option><option value="120000">1,20,000</option><option value="130000">1,30,000</option><option value="140000">1,40,000</option><option value="150000">1,50,000</option><option value="160000">1,60,000</option><option value="170000">1,70,000</option><option value="180000">1,80,000</option><option value="190000">1,90,000</option><option value="200000">2,00,000</option><option value="210000">2,10,000</option><option value="220000">2,20,000</option><option value="230000">2,30,000</option><option value="240000">2,40,000</option><option value="250000">2,50,000</option><option value="260000">2,60,000</option><option value="270000">2,70,000</option><option value="280000">2,80,000</option><option value="290000">2,90,000</option><option value="300000">3,00,000</option><option value="310000">3,10,000</option><option value="320000">3,20,000</option><option value="330000">3,30,000</option><option value="340000">3,40,000</option><option value="350000">3,50,000</option><option value="360000">3,60,000</option><option value="370000">3,70,000</option><option value="380000">3,80,000</option><option value="390000">3,90,000</option><option value="400000">4,00,000</option><option value="410000">4,10,000</option><option value="420000">4,20,000</option><option value="430000">4,30,000</option><option value="440000">4,40,000</option><option value="450000">4,50,000</option><option value="460000">4,60,000</option><option value="470000">4,70,000</option><option value="480000">4,80,000</option><option value="490000">4,90,000</option><option value="500000">5,00,000</option></select>
</div>
<div id="loan_amount_expected" class="hint-text hint-pointer"  style="display:none;"><span>Investing this much  would yield you 12-15% returns</span></div>

                    <div id="amount_error" style="display:none;"></div> <div class="clear"></div>
 <div class="admindiv full-panel">
<div class="title-panel lender-title"><div class="mr-class"><div id="edit-title" class="form-radios"><div class="form-item form-type-radio form-item-title">
 <input type="radio" id="edit-title-mr" name="title" value="Mr" class="form-radio" />  <label class="option" for="edit-title-mr">Mr. </label>

</div>
<div class="form-item form-type-radio form-item-title">
 <input type="radio" id="edit-title-ms" name="title" value="Ms" class="form-radio" />  <label class="option" for="edit-title-ms">Ms </label>

</div>
<div class="form-item form-type-radio form-item-title">
 <input type="radio" id="edit-title-mrs" name="title" value="Mrs" class="form-radio" />  <label class="option" for="edit-title-mrs">Mrs </label>

</div>
</div></div></div>
<div style="display:none"><div class="form-item form-type-textfield form-item-hidden-value">
  <label for="gender_value">Gender </label>
 <input type="text" id="gender_value" name="hidden_value" value="" size="30" maxlength="64" class="form-text" />
</div>
</div><div class="name-controller">
<div class="form-item form-type-textfield form-item-fname1">
            <lable>Name</lable></div>
                <div class="form-item form-type-textfield form-item-fname">
 <input placeholder="First Name" onmouseover="test(&quot;loan_name&quot;)" onmouseout="test1(&quot;loan_name&quot;)" type="text" id="fname" name="fname" value="" size="30" maxlength="64" class="form-text required" />
</div>


<div id="loan_name" class="name-hint-text" style="display:none;"><span>Enter your name as it appears on your PAN card or passport
            </span></div><div class="form-item form-type-textfield form-item-lname">
 <input placeholder="Last Name" onmouseover="test(&quot;loan_name&quot;)" onmouseout="test1(&quot;loan_name&quot;)" type="text" id="fname" name="lname" value="" size="30" maxlength="64" class="form-text required" />
</div>
<div id="loan_name" class="name-hint-text" style="display:none;"><span>Enter your name as it appears on your PAN card or passport
            </span></div>           </div>

<div class="form-item form-type-textfield form-item-email">
  <label for="email_valid">Email Id <span class="form-required" title="This field is required.">*</span></label>
 <input onmouseover="test(&quot;email&quot;)" onmouseout="test1(&quot;email&quot;)" onblur="validate_email()" type="text" id="email_valid" name="email" value="" size="30" maxlength="128" class="form-text required" />
</div>
<div id="email" class="hint-text hnteml" style="display:none;"><span>Enter the email address where we can reach you for future communications
            </span></div><div id="email_check" style="display: none;"></div>

<div></div>


<div class="password-class"><a id="pasword_field" href="javascript:void(0)" class="password-lender1" onclick="changeType();">show</a><div class="form-item form-type-password form-item-pass">
  <label for="show_password">Password </label>
 <input onkeyup="CheckPasswordStrength(this.value)" onmouseover="test(&quot;loan_city&quot;)" onmouseout="test1(&quot;loan_city&quot;)" type="password" id="show_password" name="pass" size="15" maxlength="64" class="form-text" />
</div>
<div id="loan_city" class="hint-text" style="display:none;"><span>Must be min 6 characters,
            Must contain a number,
            Must contain a special characters
            </span></div>   <div id="pass_strength" style="display: none;"></div>
<div class="fl cll">
                <div class="name-field2"><div class="mobile-class"><span class="mob91">+91</span><div class="form-item form-type-textfield form-item-mobile">
  <label for="txt2">Mobile NO <span class="form-required" title="This field is required.">*</span></label>
 <input onkeypress="return isNumberKeycount(event)" onmouseover="test(&quot;mobileno&quot;)" onmouseout="test1(&quot;mobileno&quot;)" onpaste="return false;" placeholder="10 digit mobile number " type="text" id="txt2" name="mobile" value="" size="10" maxlength="10" class="form-text required" />
</div>
<div id="verification_msg"></div>               <div id="show_mobile_message"></div>
                </div>
</div>
<div class="name-field2"><div style="display:none"><div class="form-item form-type-textfield form-item-verified-mobile">
  <label for="verified_mobile">Input mobile number same or not </label>
 <input type="text" id="verified_mobile" name="verified_mobile" value="" size="30" maxlength="64" class="form-text" />
</div>
</div></div>
</div>

<div class="term_condition">
<div class="form-item form-type-checkbox form-item-membership">
 <input type="checkbox" id="edit-membership" name="membership" value="1" class="form-checkbox required" />  <label class="option" for="edit-membership">I have read and agree to the  <a href="/terms-conditions" target="_blank">Terms and Conditions</a> <span class="form-required" title="This field is required.">*</span></label>

</div>
<div class="form-item form-type-checkbox form-item-privacy">
 <input type="checkbox" id="edit-privacy" name="privacy" value="1" class="form-checkbox required" />  <label class="option" for="edit-privacy">I agree to the Terms of Use and Consent to EleIctronic Disclosures, and the <a href="/privacy-policy" target="_blank">Privacy Policies</a><span class="redcolor" title="This field is required."> </span> <span class="form-required" title="This field is required.">*</span></label>

</div>
<div class="form-item form-type-checkbox form-item-condition3">
 <input type="checkbox" id="edit-condition3" name="condition3" value="1" class="form-checkbox required" />  <label class="option" for="edit-condition3"> I authorize Faircent.com to make any enquiries with any finance company/bank/registered credit bureau regarding my credit history with them <span class="form-required" title="This field is required.">*</span></label>

</div>
</div>
 <div class="fulout" align="center">
 <input type="hidden" name="form_build_id" value="form-y0BQffXvc9m0t7OuND1KxeVg6H_XEGuA73uON_mCM4Y" />
<input type="hidden" name="form_id" value="lender_registration_form" />
 
   <input type="submit" id="edit-submit" name="op" value="Submit" class="form-submit" /></div> 


</div></div>
 </div>--> 
 
 <div class="wrapper">
            <div class="container"  align="center">
                <h1 style="text-align:center">Welcome Borrower</h1>
                <form class="formR" action="borrower_signup_post" method="post" enctype="multipart/form-data" style="align:center;left:200px" >
                    <div class="Personal Details">
                        <table >
                        <tr>
                            <td>
                                <h2>Personal Details</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>                
                                Name
                            </td>
                            
                            
                            <td>
                                <div class="name">                    
                                    <input style="width:250px" type="text" name="firstname" placeholder="First Name">
                                    <input style="width:250px" type="text" name="lastname" placeholder="Last Name">
                                </div>
                            </td>
                        </tr>
                    
                        
                        
                        
                        
                        <tr>
                            <td>                
                                Email ID
                            </td>
                            <td>
                                <div class="name">                    
                                    <input style="width:250px" type="text" name="email_id">
                                   
                                </div>
                            </td>
                        </tr>
                        
                         <tr>
                            <td>                
                                Password
                            </td>
                            <td>
                                <div class="name">                    
                                    <input style="width:250px" type="password" name="password" >
                                   
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>                
                               Confirm Password
                            </td>
                            <td>
                                <div class="name">                    
                                    <input style="width:250px" type="password" name="confirmpassword" >
                                   
                                </div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>                
                                Mobile.
                            </td>
                            
                            
                            <td>
                                <div class="name">                    
                                    <input style="width:250px" type="text" name="mobile" placeholder="">
                                </div>
                            </td>
                        </tr>
                        
<!--                         <tr>
                            <td>
                                Photo 
                            </td>
                            <td>
                                <input style="width:475px" type="file" name = "file" size="50">
                            </td>
                        </tr>
 -->                        <tr>
                            <td>    
                                Gender
                            </td>
                            <td>
                                <div class="gender">                     
                                    Male&nbsp   <input type="radio" name="gender" value="male"> 
                                   
                                   &nbsp  Female &nbsp <input type="radio" name="gender" value="female"> 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Marital Status
                            </td>
                            <td>
                                <div class="marital_status">
                                    Single&nbsp <input type="radio" name="marital_status" value="Single">
                                    &nbsp Married&nbsp <input type="radio" name="marital_status" value="Single">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>    
                                Date of Birth
                            </td>
                            <td>
                                <div class="dob">
                                    <input style="width:250px" type="date" name="day" placeholder="mm/dd/yyyy">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Address
                            </td>
                            <td>
                                <div class="address">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="text" style="width:250px" name="Street1" placeholder="Street 1">
                                            </td>
                                            <td>    
                                                <input type="text" style="width:250px"  name="Street2" placeholder="Street 2">    
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>    
                                                <input type="text" style="width:250px" name="City" placeholder="City"> 
                                            </td>
                                            <td>    
                                                <input type="text" style="width:250px" name="State" placeholder="State">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>    
                                                <input type="text" style="width:250px" name="Pincode" placeholder="Pincode">
                                            </td>
                                            
                                    </table>    
                                </div>
                            </td>
                        </tr>
                        </table>    
                    </div>
                    <div class="Other Details">
                        <table>
                            <tr>
                            <td>
                        <h2>Other Details</h2>
                            </td>
                            </tr>
                            <tr>
                            <td>
                        PAN Account No.
                            </td>
                            <td><input type="text" style="width:250px" name="PAN" placeholder="PAN No.">
                        </td>
                        </tr>
                        
                        
                         <tr>
                            <td>
                        Bank Account No.
                            </td>
                            <td><input type="text" style="width:250px" name="bankac" placeholder="Bank Account No.">
                        </td>
                        </tr>
                        <tr>
                        <td>
                        Proof of Identity
                        </td>
                        <td><input type="file" style="width:410px" name="ID" placeholder="Proof of Identity">
                        </td>
                        </tr>
                        <tr>
                        <td>Family References:</td>
                        <td><input type="text" style="width:250px" name="family_ref1" placeholder="Family Reference 1">
                            </td>
                        </tr>
                        <tr>
                        <td></td>    
                            <br>
                        <td><input type="text" style="width:250px" name="family_ref2" placeholder="Family Reference 2">
                            </td>
                         </tr>
                         <tr>
                         <td></td>   
                            <br>
                        <td><input type="text" style="width:250px" name="family_ref3" placeholder="Family Reference 3">
                            </td>

                        </tr>

                        </table> 
                    </div>
                    <button type="submit" id="login-button">Login</button>
                </form>
            </div>
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
 




   
   
</div>





 </div>
</div></div></form>  </div>
  
</div> <!-- /.block -->
</div>
 <!-- /.region -->
                    </section>
                    <!-- /#main -->
                </div>

                
            </div>
            
                        
        </div>
        
    <!--white-bg-ends-->
        <!-- footer starts -->
    
    <!-- footer ends -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-45126708-1', 'faircent.com');
      ga('send', 'pageview');
    
    </script>





    <script type="text/javascript">
    
    /* <![CDATA[ */
    
    var google_conversion_id = 975412416;
    
    var google_custom_params = window.google_tag_params;
    
    var google_remarketing_only = true;
    
    /* ]]> */
    
    </script>

    <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
    
    </script>

    <noscript>

        <div style="display: inline;">

            <img height="1" width="1" style="border-style: none;" alt=""
                src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975412416/?value=0&amp;guid=ON&amp;script=0" />

        </div>

    </noscript>
  <div id="fb-root" class="fb_module"></div>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
  jQuery.extend(Drupal.settings, {"fb":{"base_url":"https:\/\/www.faircent.com","ajax_event_url":"https:\/\/www.faircent.com\/fb\/ajax","is_anonymous":true,"fb_init_settings":{"xfbml":false,"status":false,"oauth":true,"cookie":true,"channelUrl":"https:\/\/www.faircent.com\/fb\/channel"},"test_login_status":true,"get_login_status":true,"controls":"","js_sdk_url":"https:\/\/connect.facebook.net\/en_US\/all.js"}});

if (typeof(FB) == 'undefined') {
  var e = document.createElement('script');
  e.async = true;
  e.src = Drupal.settings.fb.js_sdk_url;
  document.getElementById('fb-root').appendChild(e);
}


//--><!]]>

</script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/custom/search/bootstrap-modal.js?npdeuc"></script>
</body>
</html>