



    


        <!DOCTYPE html>
<head>

<style type="text/css">

#Rachit {

font-size: 50px;
position: relative; 
top: -140px;
right: -400px;

}
.create-ac-heading {
position: relative;
top: 100px;
}

background {
    image: '/public/images/commercial-loan.png';
    repeat : no-repeat;

}

</style> 
<title>Borrower</title>
<style type="text/css" media="all">@import url("https://www.faircent.com/modules/system/system.base.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.menus.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.messages.css?npdeuc");
@import url("https://www.faircent.com/modules/system/system.theme.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/modules/comment/comment.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/date/date_api/date.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/date/date_popup/themes/datepicker.1.7.css?npdeuc");
@import url("https://www.faircent.com/modules/field/theme/field.css?npdeuc");
@import url("https://www.faircent.com/modules/node/node.css?npdeuc");
@import url("https://www.faircent.com/modules/user/user.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/views/css/views.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/sites/all/modules/contribute/ckeditor/ckeditor.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/ctools/css/ctools.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/ctools/css/modal.css?npdeuc");
@import url("https://www.faircent.com/sites/all/modules/contribute/modal_forms/css/modal_forms_popup.css?npdeuc");
@import url("https://www.faircent.com/misc/sbox/shadowbox.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/css/font-awesome.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/layout.css?npdeuc");</style>
<style type="text/css" media="all">@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/style.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/media.css?npdeuc");
@import url("https://www.faircent.com/sites/all/themes/media-responsive-theme/bootstrap.min.css?npdeuc");</style>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.js?v=1.4.4"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.once.js?v=1.2"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/drupal.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.cookie.js?v=1.0"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/jquery.form.js?v=2.52"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/ajax.js?v=7.19"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/fb/fb.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/progress.js?v=7.19"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/ctools/js/modal.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/modal_forms/js/modal_forms_popup.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/mobile_verification_code.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/mobile.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/xml_http_req_object.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/prevent_copypaste.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/helptext.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/registration.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/view_profile.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/contribute/ctools/js/ajax-responder.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/misc/sbox/shadowbox.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/cbpFWTabs.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/custom.js?npdeuc"></script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/themes/media-responsive-theme/js/bootstrap.min.js?npdeuc"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","pathPrefix":"","ajaxPageState":{"theme":"media_responsive_theme","theme_token":"P4_Nf6NCg60ZvdhXD3n-6ga6cu6RX7T4ObF6ynUmhS8","js":{"sites\/all\/modules\/custom\/search\/bootstrap-modal.js":1,"misc\/jquery.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"misc\/jquery.cookie.js":1,"misc\/jquery.form.js":1,"misc\/ajax.js":1,"sites\/all\/modules\/contribute\/fb\/fb.js":1,"misc\/progress.js":1,"sites\/all\/modules\/contribute\/ctools\/js\/modal.js":1,"sites\/all\/modules\/contribute\/modal_forms\/js\/modal_forms_popup.js":1,"misc\/mobile_verification_code.js":1,"misc\/mobile.js":1,"misc\/xml_http_req_object.js":1,"misc\/prevent_copypaste.js":1,"misc\/helptext.js":1,"misc\/registration.js":1,"misc\/view_profile.js":1,"sites\/all\/modules\/contribute\/ctools\/js\/ajax-responder.js":1,"misc\/sbox\/shadowbox.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/cbpFWTabs.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/custom.js":1,"sites\/all\/themes\/media-responsive-theme\/js\/bootstrap.min.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/contribute\/date\/date_api\/date.css":1,"sites\/all\/modules\/contribute\/date\/date_popup\/themes\/datepicker.1.7.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/contribute\/views\/css\/views.css":1,"sites\/all\/modules\/contribute\/ckeditor\/ckeditor.css":1,"sites\/all\/modules\/contribute\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/contribute\/ctools\/css\/modal.css":1,"sites\/all\/modules\/contribute\/modal_forms\/css\/modal_forms_popup.css":1,"misc\/sbox\/shadowbox.css":1,"sites\/all\/themes\/media-responsive-theme\/css\/font-awesome.css":1,"sites\/all\/themes\/media-responsive-theme\/layout.css":1,"sites\/all\/themes\/media-responsive-theme\/style.css":1,"sites\/all\/themes\/media-responsive-theme\/media.css":1,"sites\/all\/themes\/media-responsive-theme\/bootstrap.min.css":1}},"CToolsModal":{"loadingText":"Loading...","closeText":"Close Window","closeImage":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/ctools\/images\/icon-close-window.png\u0022 alt=\u0022Close window\u0022 title=\u0022Close window\u0022 \/\u003E","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/ctools\/images\/throbber.gif\u0022 alt=\u0022Loading\u0022 title=\u0022Loading...\u0022 \/\u003E"},"modal-popup-small":{"modalSize":{"type":"fixed","width":300,"height":300},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"},"modal-popup-medium":{"modalSize":{"type":"fixed","width":550,"height":450},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"},"modal-popup-large":{"modalSize":{"type":"scale","width":0.8,"height":0.8},"modalOptions":{"opacity":0.85,"background":"#000"},"animation":"fadeIn","modalTheme":"ModalFormsPopup","throbber":"\u003Cimg typeof=\u0022foaf:Image\u0022 src=\u0022https:\/\/www.faircent.com\/sites\/all\/modules\/contribute\/modal_forms\/images\/loading_animation.gif\u0022 alt=\u0022Loading...\u0022 title=\u0022Loading\u0022 \/\u003E","closeText":"Close"}});
//--><!]]>
</script>
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="html not-front not-logged-in no-sidebars page-lender-registration page-lender-registration-step1">
    

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/misc/responsive-menu.js"></script>
<!--[if IE]>
        <script src="/misc/allhtml5.js"></script><![endif]-->
<script type="text/javascript">
    function cancel_form(uid,utype,regstep){
        var hostname =location.protocol+"//"+location.hostname; 
        nregstep=parseInt(regstep)+1;
    var red_link="";
    if(utype=='borrower'){
        red_link='/borrower/registration/step'+nregstep;    
    }
    
    if(utype=='lender'){
        red_link='/lender_registration/step'+nregstep;  
    }
    window.location.href=hostname+red_link;
    
    }
    
    function message_reset(){
        var name=document.getElementById('edit-name');
        if(name.value!=""){
        alert("Further instructions will be sent to your e-mail address");
        }
        return true;
    }
    
    function show_cart(){
    
    var carth = document.getElementById('cart_holder');
    if(carth.style.display=="none"){
      
       carth.style.display="block";
    }
    else{
        carth.style.display="none";
    }
    
    }
    
    function checkout(lender){
         var hostname =location.protocol+"//"+location.hostname;    
         window.location.href= hostname+"/display-cart/"+lender;
        
    }
    
    
    function show_settings(){
    
        var carth = document.getElementById('sign_up_div');
        if(carth.style.display=="none"){
          
           carth.style.display="block";
        }
        else{
            carth.style.display="none";
        }
    
        }
        
    </script>
<script>
                $(function() {
                    $( '#dl-menu' ).dlmenu();
                });
            </script>
<script type="text/javascript">
    
    Shadowbox.init({onClose:function(){location.reload();}});
    </script>

<script type="text/javascript">
    
    Shadowbox.init({onClose:function(){location.reload();}});
    function mamage_dropdown(){ 
        var ddm=document.getElementById("ddmenu");
        ddm.style.display="block";
    }
    function close_dropdown(){  
        var ddm=document.getElementById("ddmenu");
        ddm.style.display="none";
    }
    
    
    </script>


    <div class="container">

                            <div class="content-sidebar-wrap">
                                <div id="content">
                                        <!--  <div id="breadcrumbs">-->
                                        <!--  </div>-->
                    
                    
                    <section id="post-content" role="main"
                        onmouseover="close_dropdown();">
                                                                        
                        
                                                                                                                        <div class="region region-content">
  <div id="block-system-main" class="block block-system">

      
  <div class="content">
    <form autocomplete="off" action="/lender_registration/step1" method="post" id="lender-registration-form" accept-charset="UTF-8"><div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".form-select").each(function(){
            $(this).wrap("<span class='select-wrapper'></span>");
            $(this).after("<span class='holder'></span>");
        });
        $(".form-select").change(function(){
            var selectedOption = $(this).find(":selected").text();
            $(this).next(".holder").text(selectedOption);
        }).trigger('change');
    })
</script>
<a id="mobile_verification_form" href="javascript:void(0)"></a>
<!-- Modal -->
<style>
.modal-dialog {
    margin: 30px auto;
    width: 600px;
}

.browser-icon {
    text-align: center;
}

.browser-icon .box {
    display: inline-block;
    margin: 0 10px;
}

.browser-icon .box h5 {
    margin: 10px 0;
}
</style>
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog"
    tabindex="-1" id="mobile-form" class="modal fade"
    style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
                <h4 id="myModalLabel" class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div class="modal-body" style="text-align: center;">
                    <h2>Enter the 5-digit verification code sent to your mobile number</h2>
                    <p style="font-size: 11px">
                        Didn't receive the verification code? <a href="javascript:void(0)"
                            onclick="sendMobilecode();">Click here</a> to resend.
                    </p>
                    <form type="post" style="margin-top: 30px">
                        <input type="text" name="user" id="resend"
                            style="margin-top: 40px">
                    </form>
                    <div id="mob_error"
                        style="font-size: 11px; margin-top: 10px; opacity: 0"></div>
                </div>
            </div>
            <div class="modal-footer ie-footer" style="margin-top: 0">
                <a href="javascript:void(0)" class="btn btn-primary"
                    onclick="verifyMobilecode();" class="mobile-submit">Submit</a>
            </div>
        </div>
    </div>
</div>
<script>
(function($){
    $('#mobile_verification_form').on('click', function() {
     
        $('#mobile-form').modal('toggle');
    });
    $('#cancelcase').click(function() {
        $('#mobile-form').modal('hide');
        return false;
    });
})(jQuery);
</script>

 
 <div class="wrapper">
            <div class="container"  align="center">
                <h1 style="text-align:center">Welcome to LoanAbhi</h1>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="lender_signup"><h2>Lenders, Register Here</h2></a>
                    </div>

                    <div class="col-xs-6">
                        <a href="borrower_signup"><h2>Borrowers, Register  Here</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="lender_signin"><h2>Lenders, Sign In Here</h2></a>
                    </div>
                    <div class="col-xs-6">
                        <a href="borrower_signin"><h2>Borrowers, Sign In  Here</h2>
                        </a>
                    </div>
                </div>

            </div>
        </div>
 




   
   
</div>





 </div>
</div></div></form>  </div>
  
</div> <!-- /.block -->
</div>
 <!-- /.region -->
                    </section>
                    <!-- /#main -->
                </div>

                
            </div>
            
                        
        </div>
        
    <!--white-bg-ends-->
        <!-- footer starts -->
    
    <!-- footer ends -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-45126708-1', 'faircent.com');
      ga('send', 'pageview');
    
    </script>





    <script type="text/javascript">
    
    /* <![CDATA[ */
    
    var google_conversion_id = 975412416;
    
    var google_custom_params = window.google_tag_params;
    
    var google_remarketing_only = true;
    
    /* ]]> */
    
    </script>

    <script type="text/javascript"
        src="//www.googleadservices.com/pagead/conversion.js">
    
    </script>

    <noscript>

        <div style="display: inline;">

            <img height="1" width="1" style="border-style: none;" alt=""
                src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/975412416/?value=0&amp;guid=ON&amp;script=0" />

        </div>

    </noscript>
  <div id="fb-root" class="fb_module"></div>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
  jQuery.extend(Drupal.settings, {"fb":{"base_url":"https:\/\/www.faircent.com","ajax_event_url":"https:\/\/www.faircent.com\/fb\/ajax","is_anonymous":true,"fb_init_settings":{"xfbml":false,"status":false,"oauth":true,"cookie":true,"channelUrl":"https:\/\/www.faircent.com\/fb\/channel"},"test_login_status":true,"get_login_status":true,"controls":"","js_sdk_url":"https:\/\/connect.facebook.net\/en_US\/all.js"}});

if (typeof(FB) == 'undefined') {
  var e = document.createElement('script');
  e.async = true;
  e.src = Drupal.settings.fb.js_sdk_url;
  document.getElementById('fb-root').appendChild(e);
}


//--><!]]>

</script>
<script type="text/javascript" src="https://www.faircent.com/sites/all/modules/custom/search/bootstrap-modal.js?npdeuc"></script>
</body>
</html>
