<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Login</title>

<link href="stylesheets/login-box.css" rel="stylesheet" type="text/css" />
</head>

<body>


<div style="padding: 100px 0 0 250px;">


<div id="login-box">

<H2>Login</H2>
<br />
<br />
	<% if (typeof error!="undefined"){ %>
<h3> Error : <%= error %></h3>
<% } %>

	<form method="POST" action="/lender_signin_post"> 
	<div id="login-box-name" style="margin-top:20px;">
		Email:
	</div>
	<div id="login-box-field" style="margin-top:20px;">
		<input name="email_id" class="form-login" title="Username" value="" size="30" maxlength="2048" />
	</div>
	<div id="login-box-name">
		Password:
	</div>
	<div id="login-box-field">
		<input name="password" type="password" class="form-login" title="Password" value="" size="30" maxlength="2048" />	
	</div>
	<input type="submit" img src="images/login-btn.png" width="103" height="42" style="margin-left:90px;" /></input>
</form>
<br />
<!-- 	<span class="login-box-options">
		<input type="checkbox" name="1" value="1"> Remember Me <a href="#" style="margin-left:30px;">Forgot password?</a></span>
 --><br />
<br />
</div>

</div>













</body>
</html>
